html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats {
    display: flex;
    margin: 5%;
    justify-content: space-evenly;
}

body {
    background-color: rgb(39, 49, 58);
}

.textfield_select {
    color: aquamarine !important;
}

.live {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 10px;
}

.live-graph {
    height: fit-content;
    width: fit-content;
}

@media only screen and (max-width: 1079px) {
    .live {
        display: grid;
        grid-template-columns: 70%;
        place-items: center;
        row-gap: 5%;
        padding-bottom: 5%;
    }
    .live-graph {
        height: 40vh;
        width: 80vw;
    }
}