.map {
    height: 70vh;
    width: 80vw;
    background-color: rgb(10, 29, 46);
    padding: 1em;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.map .leaflet-container {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 765px) {
    .map {
        height: 75vh;
        width: 78vw;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}