.graph-fill {
    height: 55vh;
    width: 55vw;
    display: flex;
    flex-grow: 1;
}

@media only screen and (max-width: 765px) {
    .graph-fill {
        width: 75vw;
        height: 35vh;
    }
}